body {
  background-image: url(images/pexels-anthony-macajone-1874636.jpg);
  background-size: 40%;
}

.wrapper {
  border-style: solid;
  border-color: darkseagreen;
  height: 650px;
  margin-top: 25px;
  width: 700px;
  /*text-align: center;*/
}

.tally {
  /*border-style: solid;*/
  border-style: solid;
  border-color: red;
  border-width: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* background: none; */
  background-color: white;
  /*border-color: gold;*/
}

.content {
  /* background: none; */
  padding-top: 1rem;
  padding-left: 1rem;
  background-color: white;
  border-style: solid;
  border-color: rgb(59, 64, 121);
  border-width: 2px;
  height: 500px;
}